    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:600&display=swap');
    * {
        box-sizing: border-box;
    }
    /*General Styles*/
    
    body {
        color: hsl(192, 100%, 9%);
        font-family: 'Open Sans', 'sans-serif';
        margin: 0;
        font-size: 1.15em;
    }
    
    h1,
    h2 {
        font-family: 'Poppins', 'sans-serif';
    }
    
    p {
        opacity: 0.6;
    }
    
    img {
        max-width: 100%;
    }
    
    .btn {
        padding: 15px 60px;
        border-radius: 50px;
        background-color: #fff;
        font-size: 16px;
        border: none;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    }
    
    .btn:hover {
        background-color: hsl(322, 68%, 77%);
    }
    
    .btn-primary {
        background-color: hsl(322, 100%, 66%);
        color: #fff;
        font-size: 16px;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 15px 60px;
    }
    
    .btn-primary:hover {
        background-color: hsl(322, 75%, 70%);
    }
    
    .container {
        padding: 0 20px;
        margin: 0 auto;
        width: 1000px;
        max-width: 100%;
    }
    
    .center {
        text-align: center;
    }
    
    .flex {
        display: flex;
    }
    
    .flex>div,
    .flex>ul {
        flex: 1;
    }
    
    .align-start {
        align-items: flex-start;
    }
    
    header {
        background-image: url('../images/bg-hero-desktop.svg');
        background-size: cover;
        background-position: center center;
        background-color: hsl(193, 100%, 96%);
        padding: 40px 0;
    }
    
    nav {
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: center;
    }
    
    .header-img {
        margin-left: 20%;
        width: 80%;
    }
    
    .box {
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin: 40px 0;
        padding: 60px;
    }
    
    .small-box {
        display: inline-block;
        position: relative;
        margin-bottom: -50%;
        z-index: 1;
    }
    
    .box-img {
        width: 80%;
    }
    
    footer {
        background-color: hsl(192, 100%, 9%);
        color: #fff;
        padding: 180px 0 60px;
    }
    
    footer ul {
        list-style: none;
    }
    
    footer ul li {
        margin-bottom: 20px;
    }
    
    footer .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    footer .circle {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        text-decoration: none;
    }
    
    footer .circle:hover {
        background-color: hsl(322, 68%, 70%);
    }
    
    footer p {
        text-align: right;
    }
    
    @media screen and (max-width:768px) {
        body {
            text-align: center;
        }
        nav.flex {
            flex-direction: row;
        }
        .header-img {
            margin-top: 40px;
            margin-left: 0;
            width: 100%;
        }
        .flex {
            flex-direction: column;
        }
        .box-reverse-mobile {
            flex-direction: column-reverse;
        }
        footer ul {
            padding: 0;
            width: 100%;
        }
        footer p {
            text-align: center;
        }
    }